* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    padding: 40px;
}

.className {
    padding: 20px;
    margin-bottom: 20px;

    border: 1px solid rgb(0, 0, 0);
}

.title {
    margin-bottom: 40px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.nameSection, .levelSection {
    border: 1px solid rgb(0, 0, 0);
}

.levelSection {
    word-wrap: break-word;
    flex: 0 0 20%;
    min-width: 20%;

    padding-left: 10px;
    align-content: center;
}

.nameSection {
    word-wrap: break-word;
    flex: 0 0 80%;
    min-width: 80%;
}
.nameSection li {
    margin: 10px 0;
}
.nameSection li:last-child {
    margin-bottom: 0;
}
.starMarker {
    list-style: none;
}
.starMarker::before {
    content: "★";
    margin-right: 8px;
}