@import '../../variables.css';

.logo {
  padding: 10px 5px;
  margin: 10px 20px;

  background-color: var(--navigation-color);
  border-radius: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo > a {
  text-decoration: none;
  color: inherit;

  display: flex;
  align-items: center;
}

.logo > a > img {
  width: 70px;
  height: 70px;
}

.logo > h1 {
  font-size: 2.5rem;
}

.logo > button {
  padding: 5px 8px;

  font-weight: 900;

  background-color: var(--main-color);
  color: var(--main-text-color);

  border: 1px solid var(--border-color);
  border-radius: 10px;
}

.logo > button:active {
  transform: scale(0.9);
}

.logo > button > svg {
  width: 15px;
  height: 15px;

  fill: var(--main-text-color);
}
