@import '../../variables.css';

.classPage {
  flex: 1 1 100%;
}

.classPage > div {
  display: flex;
  flex-direction: column;
}

.classPage > div > article {
  margin: 20px 0;

  border-top: 2px solid var(--border-color);
  border-bottom: 2px solid var(--border-color);

  transition: border-top 0.5s;
  transition: border-bottom 0.5s;

  display: flex;
}

.classPage > div > article > h2 {
  padding: 0 10px;

  border-left: 2px solid var(--border-color);

  transition: border-left 0.5s;

  text-align: center;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.classPage > div > article > div {
  display: flex;
  flex-direction: column;
}

.classPage > div > article > div > div {
  padding: 10px;
}

.classPage > div > article > div > div:nth-child(1) {
  background-color: var(--class-bg-1);

  transition: background-color 0.5s;
}

.classPage > div > article > div > div:nth-child(2) {
  background-color: var(--class-bg-2);

  transition: background-color 0.5s;
}

.classPage > div > article > div > div:nth-child(3) {
  background-color: var(--class-bg-3);

  transition: background-color 0.5s;
}

.classPage > div > article > div > div > ul {
  padding: 10px 20px;
}

.classPage > div > article > div > div > ul > li {
  margin-bottom: 8px;
}
