@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap');
@import './variables.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: 'Crimson Pro', serif;
}

html, body, #root {
  height: 100%;

  background-color: var(--main-color);
  color: var(--main-text-color);

  transition: background-color 0.5s;
  transition: color 0.5s;
}

h1, h2 {
  color: var(--main-text-color);

  transition: color 0.5s;
}
